{% extends 'base.html' %}

{% block title %} Blogs. {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-6">
            <img src="{{ user.img_url }}" alt="user profile picture" class="img img-fluid">
        </div>
        <div class="col-sm-10 col-12">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>

            <form action="/users/{{ user.id }}/edit">
                <button class="btn btn-primary btn-lg">Edit</button>
            </form>

            <form action="/users/{{ user.id }}/delete" method="POST">
                <button class="btn btn-danger btn-lg">Delete</button>
            </form>
        </div>
        <div>
            <h2>Posts</h2>
            <ul>
                {% for post in user.posts %}
                <li>
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                    <small>{{ post.created_at }}</small>
                </li>
                {% endfor %}
            </ul>
            <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary btn-lg">
                Add Post
            </a>
        </div>
    </div>
</div>

{% endblock %}